APP_CONFIG__DB__URL=postgresql+asyncpg://user:pwd@localhost:5432/auth
APP_CONFIG__SUPERUSER__NAME=Иван
APP_CONFIG__SUPERUSER__SURNAME=Иваныч
APP_CONFIG__SUPERUSER__PATRONYMICS=Иванов
APP_CONFIG__SUPERUSER__EMAIL=examle@example.com
APP_CONFIG__SUPERUSER__HASHED_PASSWORD=123456
